@font-face {
  font-family: "undertale";
  src: url(fonts/PixelOperatorMono8-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: 'undertale', sans-serif;
}

body {
  background-color: #000;
  position: relative;
}

body .firstScreen__container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 6fr;
      grid-template-rows: 4fr 6fr;
  position: relative;
}

body .firstScreen__container .firstScreen__container-copyright {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: .5rem;
}

body .firstScreen__container .gameTitle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .firstScreen__container .gameTitle__container h1 {
  font-size: 1.7rem;
  text-align: center;
}

body .firstScreen__container .gameOptions__section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .firstScreen__container .gameOptions__section .gameOptions__container {
  height: 20vh;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body .firstScreen__container .gameOptions__section .gameOptions__container .gameOptions {
  text-align: center;
  list-style: none;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

body .firstScreen__container .gameOptions__section .gameOptions__container .gameOptions .gameArrow {
  position: absolute;
  left: -1.3rem;
}

body .firstScreen__containerOff {
  display: none;
}

body .chooseYourCharacter__container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 8fr;
      grid-template-rows: 2fr 8fr;
  justify-items: center;
}

body .chooseYourCharacter__container .chooseYourCharacter__header__container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid #fff 4px;
}

body .chooseYourCharacter__container .chooseYourCharacter__header__container span {
  width: 70%;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}

body .chooseYourCharacter__container .characterSelection__container {
  height: 100%;
  width: 80%;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

body .chooseYourCharacter__container .characterSelection__container .characterSelection__character-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

body .chooseYourCharacter__container .characterSelection__container .characterSelection__character-container .characterSelection__character {
  height: 80%;
  width: 100%;
  border: solid #fff 4px;
}

body .chooseYourCharacter__container .characterSelection__container .characterSelection__character-container .characterSelection__character img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .chooseYourCharacter__containerOff {
  display: none;
}

body .creditosScreen__container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

body .creditosScreen__container h1 {
  position: absolute;
  opacity: .3;
  font-size: 2rem;
  top: calc(50vh - 2rem);
  z-index: 1;
}

body .creditosScreen__container span {
  font-size: .8rem;
  color: yellow;
  position: absolute;
  -webkit-animation-name: credits;
          animation-name: credits;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

body .creditosScreen__container .creditosClosingButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

body .creditosScreen__container .creditosClosingButton i {
  font-size: 1.5rem;
}

body .creditosScreen__containerOff {
  display: none;
}

body .redesSocialesScreen {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 8fr;
      grid-template-rows: 2fr 8fr;
  justify-items: center;
}

body .redesSocialesScreen .redesSocialesClosingButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

body .redesSocialesScreen .redesSocialesTitle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  border-bottom: solid #fff 4px;
  text-align: center;
}

body .redesSocialesScreen .redesSociales__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .redesSocialesScreenOff {
  display: none;
}

#header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .header__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border-bottom: solid 4px #fff;
}

#header .characterInfo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .characterInfo__container h1 {
  font-size: 1rem;
}

#header .closingCharacter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .closingCharacter__container i {
  font-size: 1.3rem;
  cursor: pointer;
}

#header .closingCharacter__container i:hover {
  color: #b10000;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#main .main__container .character__container {
  height: 40vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-bottom: solid #fff 4px;
}

#main .main__container .character__container .pic__container {
  height: 25vh;
  width: 50vw;
  border: solid #fff 6px;
}

#main .main__container .character__container .pic__container .characterSpray {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main .main__container .character__container .name {
  padding-top: 1rem;
  font-size: 1rem;
}

#main .main__container .stats__container {
  width: 90%;
  border-bottom: #fff solid 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__container .stats__container .levels__container {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main .main__container .stats__container .levels__container .lvl__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main__container .stats__container .levels__container .lvl__container .lvl {
  font-size: .8rem;
}

#main .main__container .stats__container .levels__container .lvl__container .upgradePoints {
  font-size: .6rem;
}

#main .main__container .stats__container .levels__container .lvlBar {
  height: 90%;
  height: 2vh;
  border: solid #ffffff 2px;
  position: relative;
}

#main .main__container .stats__container .levels__container .lvlBar .experienceAmount {
  position: absolute;
  top: -.9rem;
  right: 0;
  font-size: .5rem;
}

#main .main__container .stats__container .levels__container .lvlBar .lvlBar__bar {
  height: 100%;
  width: 83%;
  background-color: #ffffff;
}

#main .main__container .stats__container .html__container, #main .main__container .stats__container .css__container, #main .main__container .stats__container .javascript__container, #main .main__container .stats__container .gitHub__container, #main .main__container .stats__container .endurance__container {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main .main__container .stats__container .html__container .upgradeButton, #main .main__container .stats__container .css__container .upgradeButton, #main .main__container .stats__container .javascript__container .upgradeButton, #main .main__container .stats__container .gitHub__container .upgradeButton, #main .main__container .stats__container .endurance__container .upgradeButton {
  height: 20px;
  width: 25px;
  border: solid #fff 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  cursor: pointer;
}

#main .main__container .stats__container .html__container .upgradeButton i, #main .main__container .stats__container .css__container .upgradeButton i, #main .main__container .stats__container .javascript__container .upgradeButton i, #main .main__container .stats__container .gitHub__container .upgradeButton i, #main .main__container .stats__container .endurance__container .upgradeButton i {
  font-size: .6rem;
  z-index: 1;
}

#main .main__container .stats__container .html__container .htmlTitle, #main .main__container .stats__container .css__container .htmlTitle, #main .main__container .stats__container .javascript__container .htmlTitle, #main .main__container .stats__container .gitHub__container .htmlTitle, #main .main__container .stats__container .endurance__container .htmlTitle {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50vw;
}

#main .main__container .stats__container .html__container .htmlTitle .htmlLogo__container, #main .main__container .stats__container .css__container .htmlTitle .htmlLogo__container, #main .main__container .stats__container .javascript__container .htmlTitle .htmlLogo__container, #main .main__container .stats__container .gitHub__container .htmlTitle .htmlLogo__container, #main .main__container .stats__container .endurance__container .htmlTitle .htmlLogo__container {
  height: 25px;
  width: 25px;
}

#main .main__container .stats__container .html__container .htmlTitle .htmlLogo__container img, #main .main__container .stats__container .css__container .htmlTitle .htmlLogo__container img, #main .main__container .stats__container .javascript__container .htmlTitle .htmlLogo__container img, #main .main__container .stats__container .gitHub__container .htmlTitle .htmlLogo__container img, #main .main__container .stats__container .endurance__container .htmlTitle .htmlLogo__container img {
  height: 100%;
  width: 100%;
}

#main .main__container .stats__container .html__container .htmlTitle span, #main .main__container .stats__container .css__container .htmlTitle span, #main .main__container .stats__container .javascript__container .htmlTitle span, #main .main__container .stats__container .gitHub__container .htmlTitle span, #main .main__container .stats__container .endurance__container .htmlTitle span {
  margin-left: 5px;
}

#main .main__container .stats__container .html__container .htmlStats__container, #main .main__container .stats__container .css__container .htmlStats__container, #main .main__container .stats__container .javascript__container .htmlStats__container, #main .main__container .stats__container .gitHub__container .htmlStats__container, #main .main__container .stats__container .endurance__container .htmlStats__container {
  height: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (2vw)[16];
      grid-template-columns: repeat(16, 2vw);
  gap: 3px;
  margin-left: .5rem;
}

#main .main__container .stats__container .html__container .htmlStats__container .htmlRed, #main .main__container .stats__container .css__container .htmlStats__container .htmlRed, #main .main__container .stats__container .javascript__container .htmlStats__container .htmlRed, #main .main__container .stats__container .gitHub__container .htmlStats__container .htmlRed, #main .main__container .stats__container .endurance__container .htmlStats__container .htmlRed {
  background-color: #ff3d3d;
}

#main .main__container .stats__container .html__container .htmlStats__container .htmlYellow, #main .main__container .stats__container .css__container .htmlStats__container .htmlYellow, #main .main__container .stats__container .javascript__container .htmlStats__container .htmlYellow, #main .main__container .stats__container .gitHub__container .htmlStats__container .htmlYellow, #main .main__container .stats__container .endurance__container .htmlStats__container .htmlYellow {
  background-color: #ffff54;
}

#main .main__container .stats__container .html__container .htmlStats__container .htmlLightGreen, #main .main__container .stats__container .css__container .htmlStats__container .htmlLightGreen, #main .main__container .stats__container .javascript__container .htmlStats__container .htmlLightGreen, #main .main__container .stats__container .gitHub__container .htmlStats__container .htmlLightGreen, #main .main__container .stats__container .endurance__container .htmlStats__container .htmlLightGreen {
  background-color: #6cfb6c;
}

#main .main__container .stats__container .html__container .htmlStats__container .htmlGreen, #main .main__container .stats__container .css__container .htmlStats__container .htmlGreen, #main .main__container .stats__container .javascript__container .htmlStats__container .htmlGreen, #main .main__container .stats__container .gitHub__container .htmlStats__container .htmlGreen, #main .main__container .stats__container .endurance__container .htmlStats__container .htmlGreen {
  background-color: lime;
}

#main .main__container .stats__container .html__container .cssTitle, #main .main__container .stats__container .css__container .cssTitle, #main .main__container .stats__container .javascript__container .cssTitle, #main .main__container .stats__container .gitHub__container .cssTitle, #main .main__container .stats__container .endurance__container .cssTitle {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50vw;
}

#main .main__container .stats__container .html__container .cssTitle span, #main .main__container .stats__container .css__container .cssTitle span, #main .main__container .stats__container .javascript__container .cssTitle span, #main .main__container .stats__container .gitHub__container .cssTitle span, #main .main__container .stats__container .endurance__container .cssTitle span {
  margin-left: 5px;
}

#main .main__container .stats__container .html__container .cssTitle .cssLogo__container, #main .main__container .stats__container .css__container .cssTitle .cssLogo__container, #main .main__container .stats__container .javascript__container .cssTitle .cssLogo__container, #main .main__container .stats__container .gitHub__container .cssTitle .cssLogo__container, #main .main__container .stats__container .endurance__container .cssTitle .cssLogo__container {
  height: 25px;
  width: 25px;
}

#main .main__container .stats__container .html__container .cssTitle .cssLogo__container img, #main .main__container .stats__container .css__container .cssTitle .cssLogo__container img, #main .main__container .stats__container .javascript__container .cssTitle .cssLogo__container img, #main .main__container .stats__container .gitHub__container .cssTitle .cssLogo__container img, #main .main__container .stats__container .endurance__container .cssTitle .cssLogo__container img {
  height: 100%;
  width: 100%;
}

#main .main__container .stats__container .html__container .cssStats__container, #main .main__container .stats__container .css__container .cssStats__container, #main .main__container .stats__container .javascript__container .cssStats__container, #main .main__container .stats__container .gitHub__container .cssStats__container, #main .main__container .stats__container .endurance__container .cssStats__container {
  height: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (2vw)[16];
      grid-template-columns: repeat(16, 2vw);
  gap: 3px;
  margin-left: .5rem;
}

#main .main__container .stats__container .html__container .cssStats__container .cssRed, #main .main__container .stats__container .css__container .cssStats__container .cssRed, #main .main__container .stats__container .javascript__container .cssStats__container .cssRed, #main .main__container .stats__container .gitHub__container .cssStats__container .cssRed, #main .main__container .stats__container .endurance__container .cssStats__container .cssRed {
  background-color: #ff3d3d;
}

#main .main__container .stats__container .html__container .cssStats__container .cssYellow, #main .main__container .stats__container .css__container .cssStats__container .cssYellow, #main .main__container .stats__container .javascript__container .cssStats__container .cssYellow, #main .main__container .stats__container .gitHub__container .cssStats__container .cssYellow, #main .main__container .stats__container .endurance__container .cssStats__container .cssYellow {
  background-color: #ffff54;
}

#main .main__container .stats__container .html__container .cssStats__container .cssLightGreen, #main .main__container .stats__container .css__container .cssStats__container .cssLightGreen, #main .main__container .stats__container .javascript__container .cssStats__container .cssLightGreen, #main .main__container .stats__container .gitHub__container .cssStats__container .cssLightGreen, #main .main__container .stats__container .endurance__container .cssStats__container .cssLightGreen {
  background-color: #6cfb6c;
}

#main .main__container .stats__container .html__container .cssStats__container .cssGreen, #main .main__container .stats__container .css__container .cssStats__container .cssGreen, #main .main__container .stats__container .javascript__container .cssStats__container .cssGreen, #main .main__container .stats__container .gitHub__container .cssStats__container .cssGreen, #main .main__container .stats__container .endurance__container .cssStats__container .cssGreen {
  background-color: lime;
}

#main .main__container .stats__container .html__container .javascriptTitle, #main .main__container .stats__container .css__container .javascriptTitle, #main .main__container .stats__container .javascript__container .javascriptTitle, #main .main__container .stats__container .gitHub__container .javascriptTitle, #main .main__container .stats__container .endurance__container .javascriptTitle {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50vw;
}

#main .main__container .stats__container .html__container .javascriptTitle span, #main .main__container .stats__container .css__container .javascriptTitle span, #main .main__container .stats__container .javascript__container .javascriptTitle span, #main .main__container .stats__container .gitHub__container .javascriptTitle span, #main .main__container .stats__container .endurance__container .javascriptTitle span {
  margin-left: 5px;
}

#main .main__container .stats__container .html__container .javascriptTitle .jsLogo__container, #main .main__container .stats__container .css__container .javascriptTitle .jsLogo__container, #main .main__container .stats__container .javascript__container .javascriptTitle .jsLogo__container, #main .main__container .stats__container .gitHub__container .javascriptTitle .jsLogo__container, #main .main__container .stats__container .endurance__container .javascriptTitle .jsLogo__container {
  height: 25px;
  width: 25px;
}

#main .main__container .stats__container .html__container .javascriptTitle .jsLogo__container img, #main .main__container .stats__container .css__container .javascriptTitle .jsLogo__container img, #main .main__container .stats__container .javascript__container .javascriptTitle .jsLogo__container img, #main .main__container .stats__container .gitHub__container .javascriptTitle .jsLogo__container img, #main .main__container .stats__container .endurance__container .javascriptTitle .jsLogo__container img {
  height: 100%;
  width: 100%;
}

#main .main__container .stats__container .html__container .jsStats__container, #main .main__container .stats__container .css__container .jsStats__container, #main .main__container .stats__container .javascript__container .jsStats__container, #main .main__container .stats__container .gitHub__container .jsStats__container, #main .main__container .stats__container .endurance__container .jsStats__container {
  height: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (2vw)[16];
      grid-template-columns: repeat(16, 2vw);
  gap: 3px;
  margin-left: .5rem;
}

#main .main__container .stats__container .html__container .jsStats__container .jsRed, #main .main__container .stats__container .css__container .jsStats__container .jsRed, #main .main__container .stats__container .javascript__container .jsStats__container .jsRed, #main .main__container .stats__container .gitHub__container .jsStats__container .jsRed, #main .main__container .stats__container .endurance__container .jsStats__container .jsRed {
  background-color: #ff3d3d;
}

#main .main__container .stats__container .html__container .jsStats__container .jsYellow, #main .main__container .stats__container .css__container .jsStats__container .jsYellow, #main .main__container .stats__container .javascript__container .jsStats__container .jsYellow, #main .main__container .stats__container .gitHub__container .jsStats__container .jsYellow, #main .main__container .stats__container .endurance__container .jsStats__container .jsYellow {
  background-color: #ffff54;
}

#main .main__container .stats__container .html__container .jsStats__container .jsLightGreen, #main .main__container .stats__container .css__container .jsStats__container .jsLightGreen, #main .main__container .stats__container .javascript__container .jsStats__container .jsLightGreen, #main .main__container .stats__container .gitHub__container .jsStats__container .jsLightGreen, #main .main__container .stats__container .endurance__container .jsStats__container .jsLightGreen {
  background-color: #6cfb6c;
}

#main .main__container .stats__container .html__container .jsStats__container .jsGreen, #main .main__container .stats__container .css__container .jsStats__container .jsGreen, #main .main__container .stats__container .javascript__container .jsStats__container .jsGreen, #main .main__container .stats__container .gitHub__container .jsStats__container .jsGreen, #main .main__container .stats__container .endurance__container .jsStats__container .jsGreen {
  background-color: lime;
}

#main .main__container .stats__container .html__container .gitHubTitle, #main .main__container .stats__container .css__container .gitHubTitle, #main .main__container .stats__container .javascript__container .gitHubTitle, #main .main__container .stats__container .gitHub__container .gitHubTitle, #main .main__container .stats__container .endurance__container .gitHubTitle {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50vw;
}

#main .main__container .stats__container .html__container .gitHubTitle span, #main .main__container .stats__container .css__container .gitHubTitle span, #main .main__container .stats__container .javascript__container .gitHubTitle span, #main .main__container .stats__container .gitHub__container .gitHubTitle span, #main .main__container .stats__container .endurance__container .gitHubTitle span {
  margin-left: 5px;
}

#main .main__container .stats__container .html__container .gitHubTitle .gitLogo__container, #main .main__container .stats__container .css__container .gitHubTitle .gitLogo__container, #main .main__container .stats__container .javascript__container .gitHubTitle .gitLogo__container, #main .main__container .stats__container .gitHub__container .gitHubTitle .gitLogo__container, #main .main__container .stats__container .endurance__container .gitHubTitle .gitLogo__container {
  height: 25px;
  width: 25px;
}

#main .main__container .stats__container .html__container .gitHubTitle .gitLogo__container img, #main .main__container .stats__container .css__container .gitHubTitle .gitLogo__container img, #main .main__container .stats__container .javascript__container .gitHubTitle .gitLogo__container img, #main .main__container .stats__container .gitHub__container .gitHubTitle .gitLogo__container img, #main .main__container .stats__container .endurance__container .gitHubTitle .gitLogo__container img {
  height: 100%;
  width: 100%;
}

#main .main__container .stats__container .html__container .gitStats__container, #main .main__container .stats__container .css__container .gitStats__container, #main .main__container .stats__container .javascript__container .gitStats__container, #main .main__container .stats__container .gitHub__container .gitStats__container, #main .main__container .stats__container .endurance__container .gitStats__container {
  height: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (2vw)[16];
      grid-template-columns: repeat(16, 2vw);
  gap: 3px;
  margin-left: .5rem;
}

#main .main__container .stats__container .html__container .gitStats__container .gitRed, #main .main__container .stats__container .css__container .gitStats__container .gitRed, #main .main__container .stats__container .javascript__container .gitStats__container .gitRed, #main .main__container .stats__container .gitHub__container .gitStats__container .gitRed, #main .main__container .stats__container .endurance__container .gitStats__container .gitRed {
  background-color: #ff3d3d;
}

#main .main__container .stats__container .html__container .gitStats__container .gitYellow, #main .main__container .stats__container .css__container .gitStats__container .gitYellow, #main .main__container .stats__container .javascript__container .gitStats__container .gitYellow, #main .main__container .stats__container .gitHub__container .gitStats__container .gitYellow, #main .main__container .stats__container .endurance__container .gitStats__container .gitYellow {
  background-color: #ffff54;
}

#main .main__container .stats__container .html__container .gitStats__container .gitLightGreen, #main .main__container .stats__container .css__container .gitStats__container .gitLightGreen, #main .main__container .stats__container .javascript__container .gitStats__container .gitLightGreen, #main .main__container .stats__container .gitHub__container .gitStats__container .gitLightGreen, #main .main__container .stats__container .endurance__container .gitStats__container .gitLightGreen {
  background-color: #6cfb6c;
}

#main .main__container .stats__container .html__container .gitStats__container .gitGreen, #main .main__container .stats__container .css__container .gitStats__container .gitGreen, #main .main__container .stats__container .javascript__container .gitStats__container .gitGreen, #main .main__container .stats__container .gitHub__container .gitStats__container .gitGreen, #main .main__container .stats__container .endurance__container .gitStats__container .gitGreen {
  background-color: lime;
}

#main .main__container .stats__container .html__container .gitStats__container .enduranceTitle, #main .main__container .stats__container .css__container .gitStats__container .enduranceTitle, #main .main__container .stats__container .javascript__container .gitStats__container .enduranceTitle, #main .main__container .stats__container .gitHub__container .gitStats__container .enduranceTitle, #main .main__container .stats__container .endurance__container .gitStats__container .enduranceTitle {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__container .stats__container .html__container .gitStats__container .enduranceTitle span, #main .main__container .stats__container .css__container .gitStats__container .enduranceTitle span, #main .main__container .stats__container .javascript__container .gitStats__container .enduranceTitle span, #main .main__container .stats__container .gitHub__container .gitStats__container .enduranceTitle span, #main .main__container .stats__container .endurance__container .gitStats__container .enduranceTitle span {
  margin-left: 5px;
}

#main .main__container .stats__container .html__container .gitStats__container .enduranceNumbers, #main .main__container .stats__container .css__container .gitStats__container .enduranceNumbers, #main .main__container .stats__container .javascript__container .gitStats__container .enduranceNumbers, #main .main__container .stats__container .gitHub__container .gitStats__container .enduranceNumbers, #main .main__container .stats__container .endurance__container .gitStats__container .enduranceNumbers {
  font-size: .6rem;
}

#main .main__container .atributosSection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 45vh;
  width: 90%;
  border-bottom: solid #fff 4px;
  position: relative;
}

#main .main__container .atributosSection__container .powerInfo {
  height: 80%;
  width: 95%;
  position: absolute;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  border: #fff solid 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#main .main__container .atributosSection__container .powerInfo h4 {
  width: 80%;
  text-align: center;
  border-bottom: solid #fff 2px;
  padding-bottom: 1rem;
}

#main .main__container .atributosSection__container .powerInfo span {
  font-size: .8rem;
  line-height: 1.2rem;
  text-align: center;
  width: 90%;
}

#main .main__container .atributosSection__container .powerInfo span b {
  color: yellow;
}

#main .main__container .atributosSection__container .powerInfo .closePowerinfo__button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#main .main__container .atributosSection__container .powerInfoOff {
  display: none;
}

#main .main__container .atributosSection__container h2 {
  font-size: 1rem;
}

#main .main__container .atributosSection__container .atributosSlider__container {
  height: 20vh;
  border: solid #fff 4px;
  width: 50vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

#main .main__container .atributosSection__container .atributosSlider__container .sliderImage {
  height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

#main .main__container .atributosSection__container .atributosSlider__container .leftButton {
  position: absolute;
  left: -2rem;
  font-size: 1.5rem;
  z-index: 2;
  cursor: pointer;
}

#main .main__container .atributosSection__container .atributosSlider__container .rightButton {
  position: absolute;
  right: -2rem;
  font-size: 1.5rem;
  z-index: 2;
  cursor: pointer;
}

#main .main__container .atributosSection__container .atributteName__container {
  height: 4vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__container .atributosSection__container .atributteName__container .atributteName {
  font-size: .8rem;
  position: relative;
  bottom: 1rem;
  white-space: nowrap;
}

#main .main__container .characterInfo__container {
  height: 50vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: solid #fff 4px;
}

#main .main__container .characterInfo__container .characterInfo__title {
  font-size: 1rem;
}

#main .main__container .characterInfo__container .info__container {
  width: 95%;
  height: 30vh;
  font-size: .6rem;
  text-align: center;
  line-height: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#main .main__container .portfolio__container {
  height: 60vh;
  width: 90%;
  border-bottom: solid #fff 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
}

#main .main__container .portfolio__container .webPage__container {
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__container .portfolio__container .webPage__container .webPage {
  height: 70%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #fff 4px;
}

#main .main__container .portfolio__container .webPage__container .webPage .pageLink__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: .5rem;
  left: .5rem;
  background-color: #000;
  border: solid #fff 3px;
  height: 20%;
  width: 60%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__container .portfolio__container .webPage__container .webPage .pageLink__container i {
  font-size: .6rem;
  margin-right: 5px;
}

#main .main__container .portfolio__container .webPage__container .webPage .pageLink__container a {
  font-size: .6rem;
  text-decoration: none;
}

#main .main__container .portfolio__container .webPage__container .webPage .pageLink__containerOff {
  display: none;
}

#main .main__container .portfolio__container .webPage__container .webPage .gitLink__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: .5rem;
  right: .5rem;
  background-color: #000;
  border: #fff solid 3px;
  height: 20%;
  width: 60%;
}

#main .main__container .portfolio__container .webPage__container .webPage .gitLink__container i {
  font-size: .6rem;
  margin-right: 5px;
}

#main .main__container .portfolio__container .webPage__container .webPage .gitLink__container a {
  font-size: .6rem;
  text-decoration: none;
}

#main .main__container .portfolio__container .webPage__container .webPage .gitLink__containerOff {
  display: none;
}

#main .main__container .portfolio__container .webPage__container .webPage-cyberpunk {
  background-image: url(imgs/cyberpunk8bit.png);
  background-position: center center;
  background-size: cover;
}

#main .main__container .portfolio__container .webPage__container .webPage-bocchi {
  background-image: url(imgs/bocchi8bit.png);
  background-position: center center;
  background-size: cover;
}

#main .main__container .portfolio__container .webPage__container .webPage-maidCafe {
  background-image: url(imgs/maidCafePixelLogo.png);
  background-position: center center;
  background-size: cover;
}

#main .main__container .portfolio__container .webPage__container .webPage-evangelion {
  background-image: url(imgs/Evangelion8bit.jpg);
  background-position: center center;
  background-size: cover;
}

#main .main__container .portfolio__container .webPage__container .webPageOff {
  display: none;
}

#main .main__container .portfolio__container .webPage__container h5 {
  margin-top: 10px;
  text-align: center;
  font-size: .7rem;
  white-space: nowrap;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer__container {
  height: 10vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer__container span {
  font-size: .5rem;
}

@-webkit-keyframes cameleon {
  0% {
    color: #fff;
  }
  25% {
    color: gold;
  }
  50% {
    color: #fff;
  }
  75% {
    color: gold;
  }
  100% {
    color: #fff;
  }
}

@keyframes cameleon {
  0% {
    color: #fff;
  }
  25% {
    color: gold;
  }
  50% {
    color: #fff;
  }
  75% {
    color: gold;
  }
  100% {
    color: #fff;
  }
}

@-webkit-keyframes credits {
  from {
    -webkit-transform: translateY(110vh);
            transform: translateY(110vh);
    font-size: 2rem;
  }
  to {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
    font-size: .5rem;
  }
}

@keyframes credits {
  from {
    -webkit-transform: translateY(110vh);
            transform: translateY(110vh);
    font-size: 2rem;
  }
  to {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
    font-size: .5rem;
  }
}

@-webkit-keyframes jumping {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes jumping {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
/*# sourceMappingURL=estilos.css.map */